.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.sidebar{
  background-color: rgb(181, 212, 233);
  padding: 10px;
  min-height: 100vh;
  margin-bottom: 16px;

}
.main-area{
  /* background-color: #B5C7E9; */
  padding: 10px;
}
.cart{
  padding: 10px;
}
.image{
  max-width: 500px;
  max-height: 500px;
  margin: 0 auto;
}
.image__min{
  max-width: 50px;
  max-height: 50px;
  margin: 0 auto;
}
.product-container{
  border: 6px solid lightgray;
  margin: 6px;
  padding: 10px;
}
.cart__block{
  display: flex;
}
.ulHeader{
  display: flex;
  justify-content: space-between;
  min-width: 1200px;
}
.title__and-price{
  display: flex;
  justify-content: space-between;
}
.cart__title{
  text-align: center;
}
.gods__cart{
  max-width: 800px;
  margin: 0 auto;
}
.gods__item{
  justify-content: space-around;
  display: flex;
  align-items:baseline;
  
}
.gods__item-title{
  text-align: center;
}
.pagination span{

  cursor: pointer;
  padding: 0 10px;
}
.pagination{
  max-width: 100px;
  margin: 0 auto;
}
.searchForm input,
.sidbar button{
  width: 100%;
  margin-bottom: 5px;
}
.delete__btn{
  min-width: 100px;
  float:none
}
table td{
  max-width: 10px;
  text-align: center;
}
.footer{
  text-align: center;
  min-height: 30px;
  background-color: #b5d4e9;
}

